@import 'src/variables.scss';

.time {
    position: relative;
    border: 2px solid $accent;
    border-radius: 10px;
    background-color: darken($bg-color, 6);
    box-shadow: $shadow;
    padding: 30px 40px 50px;
    font-size: 200px;
    margin-bottom: 30px;
}

.alarm_buttons {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 20px;
    
    button {
        color: $bg-color;
        width: 140px;
        box-sizing: border-box;
        background-color: $accent;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        margin: 0 10px;

        &:disabled {
            opacity: 0.5;
        }
    }
}

.alarm_info {
    position: absolute;
    left: 25px;
    bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;

    span {
        color: $accent;
    }
}

.alarm_form {
    position: relative;
    left: -100vw;
    transition: $animation;
}

.alarm_input {
    display: flex;
    justify-content: center;

    input {
        text-align: center;
        border: none;
        border-radius: 10px;
        color: $text-color;
        font-weight: bold;
        outline: none;
        width: 60px;
        height: 40px;
        font-size: 26px;
        padding: 5px 10px;
        background-color: darken($bg-color, 3);
        margin: 0 10px;
        transition: $animation;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &:hover {
            background-color: darken($bg-color, 6);
        }
    }

    button {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        background-color: transparent;
        border: 2px solid $accent;
        border-radius: 10px;
        color: $text-color;
        margin: 0 10px;
        cursor: pointer;
        transition: $animation;

        svg {
            font-size: 26px;
            margin-left: 5px;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    button:hover {
        color: $accent;
        box-shadow: $shadow-hover-s;

        &:disabled {
            color: $text-color;
            box-shadow: none;
        }
    }
}

@media (max-width: 950px) {
    .time {
        font-size: 20vw;
    }
}

@media (max-width: $adaptive) {
    .time {
        font-size: 15vw;
    }

    .alarm_buttons {
        bottom: -15px;
        right: -5px;
        transform: translateY(100%);
        font-size: 8vw;

        button {
            width: 30vw;
            font-size: 4vw;
            padding: 7px;
            margin: 0 5px;
        }
    }

    .alarm_info {
        width: 100%;
        font-size: 5vw;
        left: 50%;
        transform: translateX(-50%);
    }
}