@import 'src/variables.scss';

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    outline: 1px solid red;
    overflow: hidden;
}

.slider_item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: $animation;
}

.active {
    opacity: 1;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}