@import 'src/variables.scss';

.slider {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slider_item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: $animation;
}

.control {
    display: flex;
    margin: 0 auto;
}

.button {
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 15px;
    border: 3px solid darken($accent, 10);
    background-color: transparent;
    transition: $animation;
    cursor: pointer;

    &:hover {
        border-color: $accent;
        background-color: darken($bg-color, 3);
    }
}

.default_clock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    span {
        line-height: 200px;
        font-size: 200px;
        font-weight: bold;
        color: $accent;
    }

    div {
        font-size: 20px;
        color: darken($accent, 5);
        text-shadow: 2px 2px 2px darken($bg-color, 3);
        margin-top: 20px;
    }
}