@import 'src/variables.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
  }

.timer {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: $shadow;
    transition: $animation;

    .svg {
        transform: scaleX(-1);
    }

    .circle {
        fill: none;
        stroke: none;
    }

    .path {
        stroke-width: 10px;
        stroke: lighten($bg-color, 5);
    }

    .path_remaining {
        stroke-width: 10px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
    }

    div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        font-weight: bold;
    }
}

.control {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

    button {
        margin: 0 15px;
    }
}

.setting {
    margin-bottom: 30px;

    h2 {
        font-weight: 400;
        font-size: 28px;
    }

    input {
        border: none;
        border-radius: 10px;
        color: $text-color;
        background-color: darken($bg-color, 3);
        text-align: center;
        font-weight: bold;
        outline: none;
        width: 60px;
        height: 40px;
        font-size: 26px;
        margin: 0 10px;
        padding: 5px 10px;
        transition: $animation;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &:hover {
            background-color: darken($bg-color, 6);
        }

        &:disabled {
            opacity: 0.6;
        }

        &:disabled:hover {
            background-color: darken($bg-color, 3)
        }
    }
}

@media (max-width: $adaptive) {
    .timer {
        width: 80vw;
        height: 80vw;

        div {
            font-size: 13vw;
        }
    }

    .control {
        margin-bottom: 20px;
    }

    .setting {
        margin-bottom: 20px;

        h2 {
            font-size: 7vw;
        }

        input {
            width: 20vw;
            margin: 0 5px;
        }

    }
}