@import 'src/variables.scss';

.wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;

    button {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 20px 10px 20px 0;
        cursor: pointer;

        svg {
            position: relative;
            color: $text-color;
            transition: $animation;
            left: 0;
        }

        &:hover svg {
            color: $accent;
            left: -10px; 
        }
    }

    h1 {
        margin: 0;
        font-size: 54px;
        background-color: $text-color;
        background-image: $accent-gradient;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    button, div {
        font-size: 68px;
    }

    div {
        padding: 20px 0 20px 10px;
    }
}

@media (max-width: $adaptive) {
    .wrapper {
        h1 {
            font-size: 8vw;
        }

        button {
            padding: 10px 5px 5px 0;
        }

        div {
            padding: 10px 0 5px 5px;
        }

        button, div {
            line-height: 11vw;
            font-size: 10vw;
        }
    }
}