@import 'src/variables.scss';

.link {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50px;
    text-decoration: none;
    color: $text-color;
    padding: 30px;
    box-shadow: $shadow;
    transition: $animation;
    background: $bg-color;

    &:hover {
        top: -10px;
        left: -10px;
        background: lighten($bg-color, 2);
        color: $accent;
        box-shadow: $shadow-hover;
    }
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    font-size: 120px;
    line-height: 0;
    margin-bottom: 10px;
}

.name {
    font-size: 28px;
}