$bg-color: #202020;
$text-color: #ffffff;
$accent: linear-gradient(45deg, #ff5b00, #f6bb00);
$shadow: 3px 3px 15px rgba(0, 0, 0, 1), -5px -5px 16px rgba(255, 255, 255, 0.33), 6px 6px 36px rgba(0, 0, 0, 0.51);